<h5>Account Information</h5>

<div>
<form>
<div class='currentEmail'>
<p>Email: r@r.com</p>
<input type="text" name="Email" placeholder="Enter your new email"></input>
</div>




<div class='currentPhone'>
<p>Phone Number: 206-312-4782</p>
<input type="text" name="Phone" placeholder="Enter your new phone number"></input>
</div>



<div class='currentAddress'>
<p>Address: 1436 4th Ave West Seattle, WA 98107</p>
<input type="text" name="Address" placeholder="Enter your new address"></input>
</div>

<button class="btn right" type="submit">Submit My Change</button>
</form>
</div>

<div id='alertOne'>
  <p class='tag'>tag</p>
  <a class="waves-effect waves-teal btn-flat">Delete</a>
</div>
