<h5>Account Information</h5>


<div class='currentEmail'>
<p>Curent Email: r@r.com</p>
</div
<input type="text" name="Email" placeholder="Enter your new email"></input>
<button class="btn" type="submit" placeholder='Enter your new email'>Submit My Change</button>

<div class='currentPhone'>
<p>Current Phone Number: 206-312-4782</p>
</div>

<form>
<input type="text" name="Phone" placeholder="Enter your new phone number"></input>
<button class="btn" type="submit">Submit My Change</button>
</form>

<div class='currentAddress'>
<p>Current Address: 1436 4th Ave West Seattle, WA 98107</p>
</div>

<form>
<input type="text" name="Address" placeholder="Enter your new address"></input>
<button class="btn" type="submit">Submit My Change</button>
</form>


<div id='deleteTagOne'>
<div id='tagOne'>
  <p>tag</p>
</div>
<div id='tagOneButton'>
  <a class="waves-effect waves-teal btn-flat">Delete</a>
</div>
</div>
