
<h5>What legislation topics do you want to be notified about?</h5>
<!-- EJS would go here to conditionally render topics -->
<p class="tag">Healthcare</p>
<p class="tag">Homelessness</p>
<p class="tag">Affordable Housing</p>
<p class="tag">Land Use</p>
<p class="tag">Transportation</p>
<p class="tag">Public Safety</p>
<p class="tag">Civil Rights</p>
<p class="tag">Parks & Neighborhoods</p>
<p>...or tell us a keyword you want us to watch for:</p>
<input type="text" name="search"></input>
<h5>What's your email?</h5>
<input type="email" name="search"></input>
<button class="btn" type="submit">Get Legislation in Committee</button>
