body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

nav,
.page-footer {
	background-color: #003d85;
}

.footer-links {
	margin-left: 0.5em;
}

.tag {
	display: inline-block;
	padding: 0.5em;
	margin: 0.25em;
	border: 1px solid #DDD;
  border-radius: 0.5em;
}

.shaded {
	background-color: #DDD;
}

#tagOne {
	display: inline-block;

}

#tagOneButton{
	display: inline-block;
	padding-left: 450px;
	font-size: large;
}



/********* KACY CSS ****************/

.hide {
	display: none;
}

.collapsible-labels {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.collapsible-header {
	display: flex;
	align-items: center;
}

.committee-name, .bill-title, .bill-date {
	flex: 1;
}

.bill-date {text-align: right;}

/********* KACY CSS ****************/
