body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
		font-family: helvetica;
  }

main {
  flex: 1 0 auto;
}

nav,
.page-footer {
	background-color: #003d85;
}

.footer-links {
	margin-left: 0.5em;
}

.create-alert {
	margin-top: 1em;
}

.img-logo {
	margin-top: 0.28em;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 0.08em;
}
.tag {
	display: inline-block;
	padding: 0.5em;
	margin: 0.25em;
	border: 1px solid #DDD;
  border-radius: 0.5em;
}

.shaded {
	background-color: #003d85;
	color: white;
}

#alertOne {
	padding: 20px;
}

.alertTag {
	display: inline-block;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

.signup {
	margin-bottom: 0.7em;
}

.or {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.btn {
	background-color: #00B455;
}

.google-img {
	display: block;
	width: 75%;
	margin: 0 auto;
	height: auto;
}

.delete {
	font-size: 16px;
}

.submitChange {
	margin-top: 1em;
}

label,
input {
	font-size: 16px;
}
.alertLabel{
	color: black;
}

.account {
	margin-bottom: .7em;
}

#modal1 {
	max-height: 90%;
}
