body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

nav,
.page-footer {
	background-color: #003d85;
}

.footer-links {
	margin-left: 0.5em;
}

.tag {
	display: inline-block;
	padding: 0.5em;
	margin: 0.25em;
	border: 1px solid #DDD;
  border-radius: 0.5em;
}

.shaded {
	background-color: #4680E4;
}

#alertOne {
	padding: 20px;
}

#alertOne {
	display: inline-block;

}

#alertOneButton{
	display: inline-block;
	padding-left: 250px;
}

.btn {
	background-color: #00B455;
}

.google-img {
	display: block;
	width: 75%;
	height: auto;
}